/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	background: #FFFEF8;
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	position: relative;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 50px;
}
nav li {
	font-size: 1.2em;
	cursor: pointer;
}
li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
	max-width: 1050px;
	margin: 120px auto;
}
#introduction figure {
	flex: 1;
}
#introduction img {
	display: block;
	margin: 0 auto 12px auto;
	width: 80%;
}
#introduction article {
	flex: 1;
	padding-top: 10px;
}
#introduction h2 {
	margin-bottom: 1em;
}
#introduction p {
	margin-bottom: 1.2em;
	line-height: 16px;
	max-width: 420px;
}
#portfolio .title-and-span {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 35px;
	margin-bottom: 50px;
}
#portfolio .title-and-span h2 {
	text-align: center;
}
#portfolio .title-and-span span {
	color: black;
	font-family: 'Work Sans';
	font-size: 0.9rem;
	font-weight: 400;
	cursor: pointer;
	display: none;
}
#portfolio .title-and-span span.display-modif {
	display: block;
}
#portfolio .container-filtres {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-bottom: 50px;
}
#portfolio .container-filtres .btn {
	background: transparent;
	border: 1px solid #1D6154;
	border-radius: 20px;
	color: #1D6154;
	font-family: 'Syne';
	font-size: 1rem;
	font-weight: 700;
	padding: 6px 15px;
	cursor: pointer;
	transition: 0.3s;
}
#portfolio .container-filtres .btn:active {
	transform: scale(0.9);
}
#portfolio .container-filtres .btn:first-child {
	padding: 6px 25px;
}
#portfolio .container-filtres .btn:nth-child(2) {
	padding: 6px 20px;
}
#portfolio .container-filtres .btn.active-btn {
	background: #1D6154;
	color: rgba(255, 255, 255, 0.9);
}
#portfolio .gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
#portfolio .gallery img {
	width: 100%;
}
#portfolio .gallery figcaption {
	margin-top: 5px;
}

#contact {
	width: 50%;
	margin: 0 auto 50px auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact p {
	font-size: 1rem;
}
#contact form {
	text-align: left;
	width: 80%;
	margin: 40px auto 0 auto;
	display: flex;
	flex-direction: column;
}
#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 3em 0 1em 0;
}
#contact label:first-child {
	margin-top: 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	resize: none;
}
#contact input[type="submit"] {
	background: #1D6154;
	border-radius: 25px;
	color: white;
	font-family: 'Syne';
	height: 45px;
	width: 50%;
	margin: 3em auto 0 auto;
}
#login {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 130px 0 90px 0;
}
#login h2 {
	margin-bottom: 30px;
}
#login form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	min-width: 300px;
}
#login form div {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}
#login form label {
	font-size: 0.7rem;
	font-weight: 500;
	margin-bottom: 5px;
}
.error label {
	color: red;
}
#login form input[type="email"], input[type="password"] {
	border: none;
	background: white;
	height: 40px;
	padding-left: 10px;
	margin-bottom: 5px;
	box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
}
.error input {
	color: red;
	outline-color: red;
}
#login form span {
	font-size: 0.6rem;
	font-style: italic;
	visibility: hidden;
}
#login form span.error {
	color: red;
	visibility: visible;
}
#login form #inputSubLog {
	width: 160px;
	background-color: #1D6154;
	border: none;
	border-radius: 60px;
	color: white;
	font-family: 'Syne';
	font-size: 0.8rem;
	font-weight: 700;
	margin: 0 auto 25px auto;
	padding: 9px 0;
	cursor: pointer;
	text-align: center;
}
#login a {
	color: black;
	margin-bottom: 25px;
	text-underline-offset: 1.5px;
}
#login .erreur-connexion {
	font-size: 1rem;
	visibility: hidden;
}
#login .erreur-connexion.error {
	color: red;
	visibility: visible;
}
.bolder {
	font-weight: 700;
}

.publish-changes {
	width: 100%;
	background: black;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	margin-bottom: 20px;
	padding: 15px 0;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%);
	z-index: 1000;
	display: none;
}
.publish-changes .p-edition {
	color: white;
}
.overlay {
	position: fixed; 
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3); 
	z-index: 998;
	display: none;
}
.overlay.active-modal {
	display: block;
}
.modal-container {
	width: 630px;
	background: white;
	border-radius: 10px;
	margin: 0 auto;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
	display: none;
}
.modal-container.active-modal {
	display: block;
}
.modal-container .modal {
	padding: 20px 30px 20px 30px;
}
.modal-container .modal .close-modal {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
}
.modal-container .modal .close-modal i {
	cursor: pointer;
}
.modal-container .modal .close-modal i:first-child {
	font-size: 1.4rem;
	opacity: 0;
}
.modal-container .modal .close-modal i:first-child.visible-arrow {
	opacity: 1;
}
.modal-container .modal .close-modal i:last-child {
	font-size: 1.2rem;
}
.modal-container .modal .modal-title {
	text-align: center;
	color: black;
	font-family: 'Work Sans';
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 40px;
}
.modal-container .modal .gallery-part {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 70px;
}
.modal-container .modal .gallery-part .modal-gallery {
	margin: 0 auto 40px auto;
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	gap: 15px 10px;
	border-bottom: 1px solid #B3B3B3;
	padding-bottom: 45px;
}
.modal-container .modal .gallery-part .modal-gallery figure {
	width: 18%;
	position: relative;
}
.modal-container .modal .gallery-part .modal-gallery figure:last-child {
	flex-grow: 0;
}
.modal-container .modal .gallery-part .modal-gallery figure img {
	width: 100%;
}
.modal-container .modal .gallery-part .modal-gallery figure .icon-figure {
	position: absolute;
	top: 5%;
	right: 5%;
	display: flex;
	gap: 2px;
}
.modal-container .modal .gallery-part .modal-gallery figure i {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15px;
	height: 15px;
	color: white;
	background: black;
	border-radius: 2px;
	font-size: 0.6rem;
	padding: 1px;
	cursor: pointer;
}
.modal-container .modal .gallery-part .addOrDelete {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 22px;
	padding-bottom: 20px;
	width: 100%;
}
.modal-container .modal .gallery-part .addOrDelete .add-picture {
	background: #1D6154;
	border: none;
	border-radius: 25px;
	color: white;
	font-family: 'Syne';
	font-size: 0.8rem;
	font-weight: 700;
	padding: 8px 0;
	width: 55%;
	cursor: pointer;
}
.modal-container .modal .add-picture-part {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 70px;
	display: none;
}
.modal-container .modal .add-picture-part .add-picture-area {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #E8F1F6;
	width: 100%;
	border-radius: 3px;
	padding: 15px 0 20px 0;
	margin-bottom: 30px;
	position: relative;
}
.modal-container .modal .add-picture-part .add-picture-area .preview-img {
	height: 100%;
	width: 44%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}
.modal-container .modal .add-picture-part .add-picture-area .input-file-container {
	margin: 20px 0;
}
.modal-container .modal .add-picture-part .add-picture-area .input-file-container .add-picture-btn {
	background: #CBD6DC;
	border: none;
	border-radius: 25px;
	color: #306685;
	font-family: 'Work Sans';
	font-weight: 600;
	padding: 10px 40px;
	margin: 20px 0 10px 0;
	cursor: pointer;
}
.modal-container .modal .add-picture-part .add-picture-area .input-file-container #addPictureBtn {
	display: none;
}
.modal-container .modal .add-picture-part .add-picture-area .format-picture {
	font-size: 0.6rem;
}
.modal-container .modal .add-picture-part .inputs-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 30px;
}
.modal-container .modal .add-picture-part .inputs-container .input-title-container, .input-category-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 20px;
}
.modal-container .modal .add-picture-part .inputs-container .input-category-container  {
	border-bottom: 1px solid #B3B3B3;
	margin-bottom: 35px;
	padding-bottom: 40px;
}
.modal-container .modal .add-picture-part .inputs-container label {
	color: #3D3D3D;
	font-weight: 500;
}
.modal-container .modal .add-picture-part .inputs-container input, select {
	background: transparent;
	border: none;
	color: #444444;
	font-family: 'Work Sans';
	font-weight: 500;
	box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
	padding: 15px;
}
.modal-container .modal .add-picture-part .inputs-container .validate-btn {
	background: #A7A7A7;
	border: none;
	border-radius: 25px;
	color: white;
	font-family: 'Syne';
	font-size: 0.8rem;
	font-weight: 700;
	padding: 8px 0;
	width: 55%;
	cursor: pointer;
	transition: 0.3s;
}
.modal-container .modal .add-picture-part .inputs-container .validate-btn.valide {
	background: #1D6154;
}
.modal-container .modal .add-picture-part .inputs-container .validate-btn.invalide {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  	transform: translate3d(0, 0, 0);
}
@keyframes shake {
	10%, 90% {
	  transform: translate3d(-1px, 0, 0);
	}
	20%, 80% {
	  transform: translate3d(2px, 0, 0);
	}
	30%, 50%, 70% {
	  transform: translate3d(-4px, 0, 0);
	}
	40%, 60% {
	  transform: translate3d(4px, 0, 0);
	}
  }
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 1em 0;
}

